<!DOCTYPE HTML>
<html>
	<head>
		<title>Angular</title>
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	</head>
	<body ng-app="demo">
		<div ng-controller="ToDoController as todoCtrl">
			<div class="jumbotron" >
				<div class="container">
					<center><h1>Angular JS</h1></center>
					<input type="text" class="form-control" placeholder="Enter Todo" aria-describedby="basic-addon2" ng-model="todoCtrl.model.Name">
					</br>
					<center>
						<a class="btn btn-primary" ng-click="todoCtrl.addTask()" >Add TODO</a>
					</center>
				</div>			
			</div>
			<div class="panel panel-default">
				 <div class="panel-heading">
				 	<div class="container">
				 		<div class="row">
				 			<div class="col-md-4">
				 				Task TO DO
				 			</div>
				 			<div class="col-md-8" ng-show="todoCtrl.todos.length > 0">
				 				<hr/>
				 				<a href="#" class="btn btn-danger" ng-click="todoCtrl.deleteCompleted()">Delete Completed</a>
				 			</div>
				 		</div>
				 	</div>
				  </div>
					<ul class="list-group">
					   <li class="list-group-item" ng-repeat="todo in todoCtrl.todos">
					   	<div class="input-group">
						      <span class="input-group-addon">
						        <input type="checkbox" aria-label="..." ng-model="todo.isChecked">
						      </span>
						      <input type="text" class="form-control" value="{{todo.Name}}">			    
					   </li>
					 </ul>
			</div>
		</div>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>	
	</body>
</html>